<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<style>
body{
    background: url('{{ asset("bundles/personne/images/amat2.jpg")}}') no-repeat center fixed;
    }

</style>

</head>
<body>
<div class="container">    
        <div id="loginbox" style="margin-top:220px;" class="mainbox col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-3">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Connection</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-20px"><a href="" ><img src='{{ asset("bundles/personne/images/fb_icon.png") }}' height="25" width="25"></a></div>



                    </div> 

                    <div style="padding-top:30px" class="panel-body"  >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        {% form_theme form 'bootstrap_3_layout.html.twig' %}

 						             {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  						          {{ form_errors(form) }}
                                    
                

    						<div class="input-group" style="margin-bottom: 25px ; margin-left: 20px;">
     						  <span class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>
      						{{ form_widget(form.email, {'attr': {'class': 'form-control' , 'placeholder': 'votre email' }}
                  ) }}
                  {{ form_errors(form.email) }}
   							 </div>
                                
                
    					

    						<div class="input-group" style="margin-bottom: 25px ; margin-left: 20px;" >
     						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      						{{ form_widget(form.password, {'attr': {'class': 'form-control' , 'placeholder': 'votre password'}}) }}
                    {{ form_errors(form.password) }}
   							 </div>
                  
                  <div class="input-group" style="margin-bottom: 25px ; margin-left: 20px;" >
                  {{ form_widget(form.connecter, { 'attr' : { 'class' : 'btn btn-info'}} )}}
                  </div>

                               
                  {{ form_end(form) }}

                  <p style="margin-bottom: 25px ; margin-left: 20px;">Pas encore inscrit, <a href="{{ path('insererPersonne') }}">c'est içi</a></p>     

                    </div>                     
                    </div> 
         </div>
        </div>
 </body>
 </html>